body{
	font-family: Arial, sans-serif, helvetica;
	background: #e8e8e8;
}

.menu{
	list-style: none;
	padding: 0;
	background: #092327;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	text-align: center;
}

.menu li{
	display: inline-block;
	text-align: center;
}
.menu li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 20px;
}

.menu li a:hover{
	background: #ef8354;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "calibri-light"
}

.contenedor{
	background:#85c1e9;
	width: 80%;
	margin: auto;
}

header{
	height: 400px;
	background-image: url(Fondo2.avif);
	background-position: center;
	background-size: cover;
}

main{
	background: #ffffff;
	padding: 20px 30px;
	border: 2px solid #cacfd2
}

main .foto{
	width: 150px;
	height: 150px;
	background-color: #85c1e9;
	border-radius: 50%;
	margin: -90px 0 20px 0;
	border: 6px solid #ffffff
}

main .foto img{
	width: 100%;
	border-radius: 50%;
}